.Profile {
    margin: 0 auto;
    padding: 30px;
    display: grid;
    max-width: 900px;
}

@media (min-width: 600px) {
    .Profile {
        grid-template-columns: 30% 70%;
        grid-gap: 30px;
    }
}